.card {
  width: 100px;
  height: 100px;
  border: solid 1px #cecece;
  margin: 0;
  margin-right: 0;
  padding: 0;
}

.carddiv {
  width: 100px;
  margin: 0;
  padding: 0;
  border:0;
}

.hidden {
  display: none;
}

.reddiv {
  border: solid 1px #323232;
  background-color: lightblue;
}
